<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>
        {% block title %} ShareSquare Posts {% endblock title %}
    </title>
    
</head>
<body>
    {% if user.is_authenticated %}
    <nav>
        <a href="/">Home</a>
        <a href='viewpost'>Posts</a>
        <a href="addpost">Addpost</a>
        <a href="aboutpage">About</a>
        <form action="{% url "logout_page" %}" method="post">
            {% csrf_token %}
            <button type="submit" id="logout-button">Logout</button>
        </form>

    </nav>
    {% else %}

    <nav>
        <a href="/">Home</a>
        <a href="signup">Sign-Up</a>
        <a href="signin">Sign-In</a>
        <a href="aboutpage">About</a>
        </nav>
    <p>Kindly Login/Signup</p>
    {% endif %}
{% block content %} 
{% if user.is_authenticated %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% for post in post_details  %}

<a href="{% url 'using_slug' post.slug %}" style="
    display: inline-block;
    border-bottom: 2px solid #000;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
" onmouseover="this.style.backgroundColor='#ddd'; this.style.boxShadow='0px 0px 15px rgba(0,0,0,0.2)';" onmouseout="this.style.backgroundColor='#f9f9f9'; this.style.boxShadow='0px 0px 10px rgba(0,0,0,0.1)';">
    {{post.title}}
</a>
<br><br>



{% endfor %}

{% endif %}

{% endblock content %}


<footer style="
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #f8f9fa;
color: black;
text-align: center;
padding: 10px 0;">
    <a href="https://www.linkedin.com/in/ragul-k-aa650a28a/" target="_blank">LinkedIn</a>
</footer>
   
</body>
</html>